src/workflows/get_data.json
{
  "name": "get_data",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Patchnote reader",
        "formFields": {
          "values": [
            {
              "fieldLabel": "patchnote_url",
              "placeholder": "https://url.com/forum/patchnote/1.2",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "7a1474de-d8b6-4a2c-b460-09f511962b5e",
      "name": "On form submission",
      "webhookId": "0427df9a-af62-486a-9852-bf9d2710f7e1"
    },
    {
      "parameters": {
        "url": "={{ $json[\"patchnote_url\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        0
      ],
      "id": "45aa72b5-3d3e-4672-aeb9-69396c536839",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "categories",
              "cssSelector": "=.newsPost .content > div.lbox-container",
              "returnValue": "attribute",
              "attribute": "id",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        384,
        0
      ],
      "id": "8d869496-8807-4619-815c-19a1f891cd07",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "categories",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "699c0caf-f40b-41b5-b6b0-9488f7bd13e9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "={{ $('Split Out').item.json.categories }}",
              "cssSelector": "=#{{ $('Split Out').item.json.categories }} li",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1008,
        0
      ],
      "id": "1165237a-3790-4a3e-9253-188da9e36064",
      "name": "HTML2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72d35450-2fee-4763-8141-76271dc5d9da",
              "name": "data",
              "value": "={{ $('HTTP Request').item.json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "2e1e5c83-bbcf-470c-8802-5cc1fe49417f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet list_of_changes = [];\n\nfor (const item of $input.all()) {\n  for (const [key, changes] of Object.entries(item.json)) {\n    if (changes.length === 0) {\n      continue;\n    }\n\n    for (const change of changes) {\n      const change_text = `[${key}] ${change}`;\n      list_of_changes.push(change_text);\n    }\n  }\n}\n\nreturn [{data: list_of_changes}]\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ],
      "id": "e6cfc88a-f629-4ac0-98ca-36b3d1a7d466",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1568,
        0
      ],
      "id": "816ff683-b513-4fb6-9d9d-823df8a4aa03",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "SedJcn5tBPO4bbtr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1504,
        208
      ],
      "id": "4995f67d-2d9e-42fe-8a70-c5b361637a9a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "DJ6G78KgWfizZIJ0",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1696,
        208
      ],
      "id": "b56164c5-5032-474b-9b51-6485804affbf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1840,
        416
      ],
      "id": "0dcaa078-f340-45a8-a419-c2590a44ccf3",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "228bd7ed-3443-460d-9c5b-c603cdbbf51e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf97ca5c1615c7fd87fee803b69256d63cce5448b6dccf640c451d7067c02a1"
  },
  "id": "ZOfuiGFD23Pflvp52Rcq4",
  "tags": []
}