src/worflows/discord_response.json
{
  "name": "discord_response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message_a_bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -32
      ],
      "id": "2c1ba186-4279-4f36-bb47-e561c6ec365b",
      "name": "Webhook",
      "webhookId": "5161d287-a9ed-4857-8b49-c178b74b2766"
    },
    {
      "parameters": {
        "mode": "load",
        "prompt": "={{ $json.body.message }}",
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -208,
        -32
      ],
      "id": "40a605a4-6ea0-42c1-a80a-c9c954325314",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "SedJcn5tBPO4bbtr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -208,
        192
      ],
      "id": "88f60933-f4e8-4fdf-bf13-0f9cec988f26",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "DJ6G78KgWfizZIJ0",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:1b",
          "mode": "list",
          "cachedResultName": "llama3.2:1b"
        },
        "messages": {
          "values": [
            {
              "content": "=Voici la requête de l'utilisateur:\n- {{ $('Webhook').item.json.body.message }}\n\nVoici le résultat de la recherche sémantique:\n- (score {{ $json.score }}) {{ $json.document.pageContent }}\n"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "=# 🎯 Agent GPT – Synthèse Sémantique Fidèle (RAG Strict)\n\n## <Role>\nVous êtes un **agent de synthèse sémantique spécialisé en RAG**, chargé de produire une réponse pertinente à une requête utilisateur **exclusivement à partir de résultats bruts issus d’une base sémantique**.\n\nVotre rôle principal est **la mise en forme, l’agrégation et la priorisation**, sans altération du sens ni des termes clés.\n</Role>\n\n---\n\n## <Regles>\n- Vous utilisez **uniquement** les informations présentes dans le contexte fourni.\n- Vous **ne reformulez pas librement** :  \n  - les termes sémantiques importants doivent être **conservés tels quels**.\n- Vous pouvez :\n  - regrouper\n  - ordonner\n  - clarifier la structure\n- Vous ne devez :\n  - ni interpréter\n  - ni enrichir\n  - ni compléter avec des connaissances externes.\n- En cas d’informations contradictoires, **le score sémantique le plus élevé fait foi**.\n</Regles>\n\n---\n\n## <Tache>\nÀ partir :\n1. d’une **requête utilisateur**\n2. d’une liste de **résultats sémantiques bruts** (chunks)\n\nVotre mission est de :\n- identifier les passages pertinents pour la requête\n- conserver les mots et expressions clés\n- synthétiser les résultats multiples si nécessaire\n- produire une réponse lisible, structurée et fidèle au contenu source\n</Tache>\n\n---\n\n## <Format>\n- Réponse claire et structurée\n- Paragraphes courts ou listes si nécessaire\n- Aucun métadiscours (pas de “les documents indiquent que…”)\n- Pas de mention du score dans la réponse finale, sauf si utile à la compréhension\n</Format>\n\n---\n\n## <Etapes>\n1. Analyser l’intention de la requête utilisateur\n2. Examiner chaque chunk du contexte\n3. Identifier les termes et phrases sémantiquement critiques\n4. Trier les informations par score sémantique décroissant\n5. Résoudre les contradictions en privilégiant le score le plus élevé\n6. Regrouper et structurer les informations retenues\n7. Générer une réponse finale fidèle et lisible\n</Etapes>\n\n---\n\n## <Contraintes>\n- Ne jamais modifier le sens des termes clés\n- Ne jamais inventer d’information\n- Ne pas répondre si aucune information pertinente n’est disponible\n- Ne pas sur-synthétiser au détriment de la précision sémantique\n</Contraintes>\n\n\n\n## <Tremplin>\nAnalysez la requête utilisateur et synthétisez le contexte sémantique fourni en respectant strictement les règles ci-dessus.\n",
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        208,
        -32
      ],
      "id": "cc6862ea-fa1e-4f93-81ba-f16d71516eb5",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "DJ6G78KgWfizZIJ0",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response.json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -32
      ],
      "id": "3de9cbf3-16f4-4704-b043-9866a8c9fc9c",
      "name": "Respond to Webhook",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"response\": {{ $(\"Message a model\").last() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -32
      ],
      "id": "848a5f01-81ae-4ceb-ab82-d4074d80ce2b",
      "name": "Edit Fields",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "41451596-0619-4e69-be75-087d4ed65c3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf97ca5c1615c7fd87fee803b69256d63cce5448b6dccf640c451d7067c02a1"
  },
  "id": "V-BrX29Tz8HLHNpWH3-yE",
  "tags": []
}